.popup__close {
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  border: none;
  position: absolute;
  top: -36px;
  right: 0;
  background: no-repeat center url(../../../images/close-icon.svg);
  background-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
