.header__item {
    position: relative;
    font-family: Bradley Hand, cursive;
    padding: 20px 30px;
    margin-right: 20px;
    background-color: #bfbfbf;
    border-bottom: 7px solid #6f7070;
    border-right: 7px solid #6f7070; 
    z-index: 1;   
    transition: opacity 0.3s ease;  
    transition: transform 0.2s ease;  

}

.header__item:last-of-type {
    margin-right: 0;
}

.header__item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__item:active {
    transform: scale(1.05);
}

.header__item:hover .header__list_inner {
    opacity: 1;
}